## Download Data

In [1]:
import pandas as pd
weather = pd.read_csv("data.csv", index_col="DATE")
weather

,STATION,NAME,ACMH,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,...,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV03,WV20
DATE,,,,,,,,,,,,,,,,,,,,,
1946-10-09,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946-10-10,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946-10-11,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946-10-12,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946-10-13,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,10.07,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-17,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,4.47,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-18,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,8.05,NaN,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-19,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,8.50,NaN,1137.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-20,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

In [2]:
# find percentage of empty values for each value
weather.apply(pd.isnull).sum() / weather.shape[0]

STATION    0.000000
NAME       0.000000
ACMH       0.594788
ACSH       0.594752
AWND       0.485612
FMTM       0.638772
PGTM       0.395859
PRCP       0.157230
PSUN       0.954338
SNOW       0.163834
SNWD       0.170618
TAVG       0.614066
TMAX       0.157194
TMIN       0.157194
TSUN       0.770118
WDF1       0.633881
WDF2       0.643163
WDF5       0.644056
WDFG       0.571046
WDFM       0.999786
WESD       0.748054
WSF1       0.633809
WSF2       0.643163
WSF5       0.644056
WSFG       0.570832
WSFM       0.999000
WT01       0.677651
WT02       0.974973
WT03       0.910853
WT04       0.988076
WT05       0.984256
WT06       0.985184
WT07       0.996323
WT08       0.736773
WT09       0.988683
WT10       0.999964
WT11       0.996751
WT13       0.911782
WT14       0.960371
WT15       0.997001
WT16       0.716137
WT17       0.997251
WT18       0.877508
WT19       0.999643
WT21       0.998858
WT22       0.996323
WV03       0.997501
WV20       0.999964
dtype: float64

In [4]:
# copy core values into new data frame
core_weather = weather[["PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"]
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1946-10-09     NaN   NaN         NaN       NaN       NaN
1946-10-10     NaN   NaN         NaN       NaN       NaN
1946-10-11     NaN   NaN         NaN       NaN       NaN
1946-10-12     NaN   NaN         NaN       NaN       NaN
1946-10-13     NaN   NaN         NaN       NaN       NaN
...            ...   ...         ...       ...       ...
2023-06-16     0.0   0.0         0.0      68.0      52.0
2023-06-17     0.0   0.0         0.0      81.0      53.0
2023-06-18     0.0   0.0         0.0      86.0      60.0
2023-06-19     0.0   0.0         0.0      87.0      61.0
2023-06-20     NaN   NaN         NaN       NaN       NaN

[28010 rows x 5 columns]

In [5]:
core_weather.apply(pd.isnull).sum() / core_weather.shape[0]

precip        0.157230
snow          0.163834
snow_depth    0.170618
temp_max      0.157194
temp_min      0.157194
dtype: float64

In [7]:
core_weather["snow"].value_counts()

snow
0.0     21495
0.1       301
0.2       242
0.3       160
0.4       144
        ...
8.2         1
6.9         1
15.3        1
10.1        1
6.1         1
Name: count, Length: 96, dtype: int64

In [8]:
core_weather["snow_depth"].value_counts()

snow_depth
0.0     20324
1.0       645
2.0       463
3.0       366
4.0       277
5.0       249
6.0       166
1.2       106
7.0        99
8.0        61
5.1        49
3.1        47
9.0        42
3.9        36
11.0       34
10.0       30
5.9        25
13.0       24
12.0       23
19.0       18
14.0       15
17.0       15
15.0       13
9.1        13
7.1        11
9.8        10
18.0       10
11.8        8
14.2        6
7.9         6
22.0        5
16.0        5
23.0        4
16.1        4
26.0        4
18.1        3
16.9        2
27.0        2
21.0        2
20.0        2
24.0        2
25.0        2
28.0        1
20.9        1
20.1        1
Name: count, dtype: int64

In [9]:
# select rows where precip is null
core_weather[pd.isnull(core_weather["precip"])]

            precip  snow  snow_depth  temp_max  temp_min
DATE
1946-10-09     NaN   NaN         NaN       NaN       NaN
1946-10-10     NaN   NaN         NaN       NaN       NaN
1946-10-11     NaN   NaN         NaN       NaN       NaN
1946-10-12     NaN   NaN         NaN       NaN       NaN
1946-10-13     NaN   NaN         NaN       NaN       NaN
...            ...   ...         ...       ...       ...
1958-10-29     NaN   NaN         NaN       NaN       NaN
1958-10-30     NaN   NaN         NaN       NaN       NaN
1958-10-31     NaN   NaN         NaN       NaN       NaN
1997-06-08     NaN   0.0         0.0      70.0      51.0
2023-06-20     NaN   NaN         NaN       NaN       NaN

[4404 rows x 5 columns]

In [10]:
core_weather.loc["1946-10-09":"1983-11-05",:]

            precip  snow  snow_depth  temp_max  temp_min
DATE
1946-10-09     NaN   NaN         NaN       NaN       NaN
1946-10-10     NaN   NaN         NaN       NaN       NaN
1946-10-11     NaN   NaN         NaN       NaN       NaN
1946-10-12     NaN   NaN         NaN       NaN       NaN
1946-10-13     NaN   NaN         NaN       NaN       NaN
...            ...   ...         ...       ...       ...
1983-11-01    0.09   0.0         0.0      66.0      38.0
1983-11-02    0.46   0.0         0.0      63.0      53.0
1983-11-03    0.00   0.0         0.0      53.0      38.0
1983-11-04    0.00   0.0         0.0      51.0      33.0
1983-11-05    0.00   0.0         0.0      58.0      28.0

[13538 rows x 5 columns]

In [11]:
# replace missing values with zero
core_weather["precip"].value_counts()

precip
0.00    15475
0.01      968
0.02      643
0.03      408
0.04      364
        ...
3.09        1
1.94        1
3.44        1
1.51        1
1.83        1
Name: count, Length: 256, dtype: int64

Since most days had no precip, it is reasonable to replace null values with zero. Likewise for snow and snow_depth

In [15]:
core_weather["precip"] = core_weather["precip"].fillna(0)
core_weather["snow"] = core_weather["snow"].fillna(0)
core_weather["snow_depth"] = core_weather["snow_depth"].fillna(0)
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1946-10-09     0.0   0.0         0.0       NaN       NaN
1946-10-10     0.0   0.0         0.0       NaN       NaN
1946-10-11     0.0   0.0         0.0       NaN       NaN
1946-10-12     0.0   0.0         0.0       NaN       NaN
1946-10-13     0.0   0.0         0.0       NaN       NaN
...            ...   ...         ...       ...       ...
2023-06-16     0.0   0.0         0.0      68.0      52.0
2023-06-17     0.0   0.0         0.0      81.0      53.0
2023-06-18     0.0   0.0         0.0      86.0      60.0
2023-06-19     0.0   0.0         0.0      87.0      61.0
2023-06-20     0.0   0.0         0.0       NaN       NaN

[28010 rows x 5 columns]

Use a forward fill to replace null temp values

In [53]:
core_weather["temp_max"] = core_weather["temp_max"].fillna(method="ffill")
core_weather["temp_min"] = core_weather["temp_min"].fillna(method="ffill")

In [55]:
core_weather.isnull().sum() / core_weather.shape[0]

precip        0.0
snow          0.0
snow_depth    0.0
temp_max      0.0
temp_min      0.0
dtype: float64

## Verify correct data types

In [56]:
core_weather.dtypes

precip        float64
snow          float64
snow_depth    float64
temp_max      float64
temp_min      float64
dtype: object

In [57]:
core_weather.index

Index(['1946-10-09', '1946-10-10', '1946-10-11', '1946-10-12', '1946-10-13',
       '1946-10-14', '1946-10-15', '1946-10-16', '1946-10-17', '1946-10-18',
       ...
       '2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15',
       '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19', '2023-06-20'],
      dtype='object', name='DATE', length=28010)

In [60]:
# convert index to date time index
core_weather.index = pd.to_datetime(core_weather.index)
core_weather.index

DatetimeIndex(['1946-10-09', '1946-10-10', '1946-10-11', '1946-10-12',
               '1946-10-13', '1946-10-14', '1946-10-15', '1946-10-16',
               '1946-10-17', '1946-10-18',
               ...
               '2023-06-11', '2023-06-12', '2023-06-13', '2023-06-14',
               '2023-06-15', '2023-06-16', '2023-06-17', '2023-06-18',
               '2023-06-19', '2023-06-20'],
              dtype='datetime64[ns]', name='DATE', length=28010, freq=None)

In [62]:
core_weather.index.year

Index([1946, 1946, 1946, 1946, 1946, 1946, 1946, 1946, 1946, 1946,
       ...
       2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023],
      dtype='int32', name='DATE', length=28010)

In [64]:
core_weather.apply(lambda x: (x==9999)).sum()

precip        0
snow          0
snow_depth    0
temp_max      0
temp_min      0
dtype: int64